html, body {
  padding: 0;
  margin: 0;
}

.appContainer {
  height: 100vh;
  display: flexbox;
  flex-direction: column;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.contentContainer h1 {
  font-size: 10px;
  color: yellow;
}